%label{:for => "username"} Twitterのアカウント名を入力してください
%br
%form
  %input{:id => "username", :value => @name}
  %input{:id => "fav", :type => "submit", :value => "favtile!"}
%br
- if @notice
  %span= @notice
  %br
- @favs.each_index do |i|
  - f = @favs[i]
  .tile{:class => "note#{i%4+1}"}
    %span{:class => "text"}= f.text
    %br
    .space 
    %span{:class => "screen_name"}
      %img{:src => URI.encode(f.user["profile_image_url"])}
      %br
      %a{:href => f.user["screen_name"]}= "@#{f.user["screen_name"]}"
