- if @bg_img
  :css
    body {
      background-image: url("#{@bg_img}");
      background-attachment: fixed;
      background-repeat: #{@bg_repeat};
    }

%form
  %input{:id => "username", :value => @name, :title => "Username"}
  %input{:id => "fav", :type => "submit", :value => "favtile"}
%br
- if @notice
  %span= @notice
  %br
- @favs.each_index do |i|
  - f = @favs[i]
  .tile{:class => "note#{i%4+1}"}
    - tweet_tag(f).each do |t|
      - if t.instance_of?(String)
        %span= t
      - else if t.instance_of?(Hash)
        - if t["type"]["user_mentions"]
          %a{:href => t["screen_name"]}= "@#{t["screen_name"]}"
        - else if t["type"]["hashtags"]
          %span= t["text"]
        - else if t["type"]["urls"]
          %a{:href => t["expanded_url"]}= "@#{t["display_url"]}"
    %br
    .space
    %span{:class => "screen_name"}
      %img{:src => URI.encode(f.user["profile_image_url"])}
      %br
      %a{:href => f.user["screen_name"]}= "@#{f.user["screen_name"]}"
